@tailwind base;
@tailwind components;
@tailwind utilities;


.selectPedidos{
  margin: 1% 0px;
}

.labelFormPedidos{
  margin: 0 13%;
}



.buscar-pagina{
  margin: 8px 0px;
}


.agregarInPage{
  border: 1px solid rgba(0, 0, 0, 0.557);
  padding: 0.45em;
  border-radius: 5px;
  background-color: #007bff;
  color: black;
  box-shadow: inset 4px 4px 10px rgba(0,0,0,0.3);

}

.agregarInPage:hover{
  background-color: #007bff;
  color: black;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.541);
}


.nav-item {
  margin: 27px 0px;
}

.separadorForms {
  margin: 0px 4px;
}



.borderTextarea {
  border: 1px solid black;
}


.divAddText {
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.tituModusAgre {
  margin: 3px;
  font-size: 1.4rem;
  font-weight: bold;
  /* Establece el grosor del texto en negrita */
}

.tituModus {
  font-size: 2rem;
  font-weight: bold;
  /* Establece el grosor del texto en negrita */
}

.botonAgregar {
  background-color: #007bff;
  /* Color de fondo azul */
  color: #fff;
  /* Color de texto blanco */
  border: none;
  /* Elimina el borde */
  padding: 10px 20px;
  /* Ajusta el relleno según sea necesario */
  border-radius: 4px;
  /* Agrega bordes redondeados */
  transition: background-color 0.3s ease;
  /* Efecto de transición suave para el color de fondo */
}

.buscadorYboton {
  display: flex;
  justify-content: space-between;
}

.searchAndPagination {
  flex: 1;
  margin-right: 10px;
}

.botonAgregar {
  flex: 0;
  /* Evita que el botón de agregar crezca */
}

.asidecss {
  background-color: #101010;
}




.cardCenter {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.inputCompenent {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #5a5a5a;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position: relative;
}

.inputComponent:valid {
  border-color: #00ff2a;
  color: #00ff2a;
  box-shadow: 2px 2px 8px 1px #00ff2a;
}

.inputComponent:invalid {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 2px 2px 8px 1px #ff0000;
  /* translate: -8px 8px 0px 0px; */
}


.content-wrapper {
  padding: 9px 14px;
  background-color: #ffffff00;
  /* Cambia #ffffff al color deseado */
}