* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://www.xtrafondos.com/wallpapers/ilustracion-de-montana-en-lago-al-amanecer-6252.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.cardRegister {
    margin: 2% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    max-width: 490px;
    height: auto;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
}



.containerRegister {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 2% auto;
    padding: 7px;
    transition-duration: 0.7s;
}

.textRegistro {
    padding-top: 14px;
    font-size: 24px;
    font-weight: 500;
    color: #33e6d4;
    text-shadow: none;
}

.textLogin {

    padding: 11px;
    font-size: 24px;
    font-weight: 500;
    color: #33e6d4;
    text-shadow: none;
}

.cardLogin {
    margin: 2% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 430px;
    height: auto;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
}




.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.179);
    box-shadow: 0px 0px 15px #000;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

/* .card:hover {
    transform: scale(1.04) rotate(1deg);
  } */

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#ffffff, #33e6d4);
    border-radius: 50%;
    position: absolute;
    animation: circleAnimate 3.4s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: circleAnimate2;
}

@keyframes circleAnimate {
    to {
        transform: translateY(-15px);
    }
}

@keyframes circleAnimate2 {
    to {
        transform: translateY(15px);
    }
}










/* Todo lo relacianado con inputs */

/* Le quito las flechas a type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.inputs {
    padding: 30px;
    
}

.input {
    max-width: 210px;
    height: 55px;
    width: 210px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
}

.input:valid {
    border-color: #000;
    color: #000;
    box-shadow: 0px 0px 12px #000;

}

.input:invalid {
    border-color: #ff0000;
    color: #ff0000;
    box-shadow: 2px 2px 8px 1px #ff0000;
    /* translate: -8px 8px 0px 0px; */
}

.text {
    margin-top: 10px;
    color: black;
}





/* .Textarea {
    max-width: 190px;
    height: 45px;
    width: 200px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
}

.Textarea:valid {
    border-color: #000;
    color: #000;
    box-shadow: 0px 0px 12px #000;

}

.Textarea:invalid {
    border-color: #ff0000;
    color: #ff0000;
    box-shadow: 2px 2px 8px 1px #ff0000;
    /* translate: -8px 8px 0px 0px; 
    */







.button {
    margin: 13px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #33e6d4;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #33e6d4;
    transition: 0.5s ease;
    user-select: none;
}

#btn:hover {
    color: #ffffff;
    background: #000;
    border: 1px solid #000;
    text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;
    box-shadow: 0 0 5px #000,
        0 0 20px #000,
        0 0 50px #000,
        0 0 100px #000;
}



.textLoginAndRegister {
    color: #33e6d4;
    transition: 0.5s ease;

}

.textLoginAndRegister:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;

}


.tablaproductos {
    width: 99%;
    border-collapse: collapse;
    margin: 20px auto;
    overflow: hidden;
}

.tablaproductos th,
.tablaproductos td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.tablaproductos tr:nth-child(even) {
    background-color: #f0f0f0;
}

.tablaproductos th {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}














/* RESPONSIVE */



/* RESPONSIVE */
@media (max-width: 900px) {


    .inputs {
        padding: 10px;
    }

    .input {
        width: 170px;
    }

    .cardRegister {
        margin: 6% auto;
        width: 96%;
    }

    .cardLogin {
        margin: 6% auto;
        width: 80%;
    }

    .button {
        padding: 7px 16px;
    }


}

/* Estilo para la tabla pedidos y clientes */
/* .tablePedidosCli {
    width: 95%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
} */

/* Estilo para las celdas de encabezado y contenido */
/* .tablePedidosCli th,
.tablePedidosCli td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

/* Estilo para las filas pares */
/* .tablePedidosCli tr:nth-child(even) {
    background-color: #f0f0f0;

} */

/* .tablePedidosCli th {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */


/* Agrega una clase para el icono de búsqueda */
.search-icon {
    font-size: 20px;
    color: #000000;
}

.paginationTd{
    text-align: end;
    margin-top: 20px;
    padding: 20px;
}


.buscar-pagina {
    display: flex;
    justify-content: space-between;
}

.botonesPedidosCli {
    color: #000000;
    transition: 0.5s ease;

}

.botonesPedidosCli:hover {
    color: #f00e0e;


}

.agregarpedido {
    text-align: end;
}

.alert-container {
    position: relative;
}

.alertas {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
}



.PedidosBoton {
    background-color: #3B82F6;
    /* Color de fondo blue-500 */
    color: #fff;
    padding: 0.25rem 1rem;
    border-radius: 0.375rem;
    margin: 0.5rem auto;
    display: block;
    width: fit-content;
    text-align: center;
}

.carta {
    background-color: #a1a1a1;
    max-width: 28rem;
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.375rem;
    border-radius: 5px;

}

